<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExampleGameMod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExampleGameMod.Properties.Settings>
            <setting name="requires" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>github:///CitiesSkylinesMods/TMPE</string>
                        <string>steam://url/CommunityFilePage/2389228470</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="recommends" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>github:///drok/SupplyChainColoring</string>
                        <string>steam://url/CommunityFilePage/2325122732</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="conflicts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>steam://url/CommunityFilePage/433249875</string>
                        <string>github:///arislancrescent/CS-EnhancedHearseAI</string>
                        <string>app:///EnhancedHearseAI.Identity</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ExampleGameMod.Properties.Settings>
    </userSettings>
</configuration>